.view-events h1 {
    font-size: 2rem;
}



.view-events ul {
    width: 100%;
    padding-left: 0;
    margin: 0;
    grid-column: 1 / -1;
    grid-row: 2 / span 2;

    display: grid;
    grid-auto-rows: 5.6875rem;
    
}